<html>


<h2><a href="https://fundresearch.fidelity.com/mutual-funds/summary/315910778">Fund: FHKCX --- Fidelity China Region Fund</a></h2>


<body>

<p>A regional equity fund that seeks long-term growth of capital by investing primarily in the common stocks of companies located, or with primary operations, in Hong Kong, Taiwan or Mainland China.
</p>


<h3><b>Benchmark: </b> --- MSCI Golden Dragon Index</h3>
<p>A market capitalization weighted index that is designed to mearsure the investable equity market performance for global investors of developed markets.      </p>

<h3><b>Indices:   </b> </h3>
<h4>
S&P 500    <br>
Nikkei --- Nikkei 225     <br>
VWO --- Vanguard FTSE Emerging Markets Index Fund ETF Shares     <br>
BSE --- S&P Bombay Stock Exchange Sensitive Index      <br>
Hang --- HANG SENG INDEX     <br>
IXIC --- NASDAQ Composite      <br>
 </h4>

</body>
</html>
