<html>

<h2><a href="https://fundresearch.fidelity.com/mutual-funds/summary/315910208?type=o-NavBar">Fund: FIGRX --- Fidelity® International Discovery Fund</a></h2>


<body>
<h3>Objective:</h3>
<p>Seeks long-term growth of capital. </p>
<h3>Strategy: </h3>
<p>
Normally investing primarily in non-U.S. securities. Normally investing primarily in common stocks.
</p>

<h3><b>Benchmark: </b></h3>
<h4>
1. MSCI_EAFE --- MSCI EAFE  <br>  2. Foreign Large Growth    <br> </h4>

<h3><b>Indices:   </b> </h3>
<h4>
VWO --- Vanguard Emerging Markets Stock Index Fd (vwo)   <br>
SPBMI --- S&P BMI International Developed Low Volatility Index (SPIDLVUP)   <br>
EFAD --- European Federation of the Associations of Dietitians (EFAD)  <br>
IMTM -- ISHARES TR/EDGE MSCI INTL MOME (IMTM)   <br>
MSCI_euro -- MSCI europe index <br>
ESCI_EAFE_val --- MSCI EAFE index
 </h4>

</body>
</html>