<html>


<h2><a href="https://fundresearch.fidelity.com/mutual-funds/summary/315910810">Fund: FIVFX --- Fidelity® International Capital Appreciation Fund</a></h2>


<body>

<p>Normally investing primarily in non-U.S. securities, including securities of issuers located in emerging markets. <br>
Normally investing primarily in common stocks. And allocating investments across different countries and regions.
</p>

<h3><b>Benchmark: </b></h3>
<h4>
1.MSCIUSA --- MSCI ACWI (All Country World Index) ex USA Index <br>
2. EAFE -- MSCI EAFE index </h4>

<h3><b>Indices:   </b> </h3>
<h4>
JFAMX --- JPMorgan Emerging Markets Equity Fund Class A (JFAMX)   <br>
N225 --- Nikkei 225 (^N225)    <br>
GSPC --- S&P 500 (^GSPC)    <br>
EEM --- iShares MSCI Emerging Markets ETF (EEM)     <br>
IXIC --- NASDAQ Composite (^IXIC)  <br>
MOAT --- VanEck Vectors Morningstar Wide Moat ETF (MOAT)    <br>
CAC40 --- CAC40 LEVERAGE (CACLV.PA) <br>
ASX200 --- BETASHARE S&P ASX200 FIN (^AYQFN) <br>
 </h4>

</body>
</html>
