<html>


<h2><a href="https://fundresearch.fidelity.com/mutual-funds/summary/316390558">Fund: FSCPX --- Fidelity® Select Consumer Discretionary Portfolio </a></h2>

<body>


<h3><b>Indices:   </b> </h3>
<h4>
The objective of this fund is capital appreciation and it seeks to realize this through investment of at least 80% of its assets in companies engaged in the manufacture and distribution of consumer discretionary products and services. Investment for this fund is made in companies with market values greater than $10 billion that fund managers believe are poised for growth. This fund is characterized by above average returns and below average expenses. This fund exhibits above average risk and this is due to its sensitivity to the performance of the overall economy, interest rates, competition, consumer confidence and spending, and changes in demographics and consumer tastes.<br>
KIE ---  </h4>

</body>
</html>
