<html>


<h2><a href="https://fundresearch.fidelity.com/mutual-funds/summary/316390475">Fund: FSMEX --- Fidelity® Select Medical Technology and Devices Portfolio </a></h2>

<body>

<h3><b>Benchmark: </b> VHT --- Vanguard Health Care Index Fund ETF Shares </h3>

<h3><b>Indices:   </b> </h3>
<h4>
gspc --- S&P 500 <br> 
IXIC --- NASDAQ Composite    <br>
RUT --- Russell 2000    <br>
FBT --- First Trust NYSE Arca Biotechnology Index Fund     <br>
RYH --- Invesco S&P 500 Equal Weight Health Care ETF  <br>
XHE --- SPDR S&P Health Care Equipment    <br>
XLV --- Health Care Select Sector SPDR Fund     <br>
ARKG --- ARK Genomic Revolution Multi-Sector ETF     <br>
SPSIHE --- S&P Health Care Equipment Select Industry Index     <br>
DJSMDQ --- Dow Jones U.S. Select Medical Equipment Index     <br>
IHI --- Dow Jones U.S. Medical Devices Index   </h4>

</body>
</html>
