<html>


<h2><a href="https://fundresearch.fidelity.com/mutual-funds/summary/316390541">Fund: FSPCX --- Fidelity® Selected Insurance Portfolio </a></h2>

<body>

<h3><b>Benchmark: </b> MSCI IMI Insurance 25/50 </h3>

<h3><b>Indices:   </b> </h3>
<h4>
VIT ---     <br>
DJI --- Dow Jones Industrial Average     <br>
IXIC --- Nasdaq Composite    <br>
GSPC --- S&P 500 <br> 
RUA --- Russell 3000 Index     <br>
XOI --- NYSE Arca Oil Index     <br>
XIC ---     <br>
MID ---     <br>
SML ---     <br>
VGT ---     <br>
VIGAX ---     <br>
XHE --- SPDR S&P Health Care Equipment    <br>
XLV --- Health Care Select Sector SPDR Fund     <br>
RYH --- Invesco S&P 500 Equal Weight Health Care ETF  <br>
ARKG --- ARK Genomic Revolution Multi-Sector ETF     <br>
FBT --- First Trust NYSE Arca Biotechnology Index Fund     <br>
TFSIX ---     <br>
KIE ---  </h4>

</body>
</html>