<html>


<h2><a href="https://fundresearch.fidelity.com/mutual-funds/summary/316390202">Fund: FSPTX --- Fidelity® Select Technology Portfolio </a></h2>

<body>

<h3><b>Benchmark: </b> Morgan Stanley Capital International Investable Market Index, US Information Technology 25/50 </h3>

<h3><b>Indices:   </b> </h3>
<h4>
IXIC --- NASDAQ <br> 
GSPC/.INX --- S&P500    <br>
S5INFT --- S&P500 Information Technology    <br>
SPGSTI --- S&P North America Technology Sector    <br>
SP400/^MID --- S&P mid cap     <br>
SP600/^SML --- S&P small cap      <br>
XOI --- NYSE Arca Oil Index     <br>
RUT --- RUSSELL2000     <br>
VIGAX --- CRSP US Large Cap Growth Index     <br>
VTSAX --- CRSP US Total Market Index     <br>
VTSAX --- CBOE Volatility Index    </h4>

</body>
</html>
