<html>


<h2><a href="https://fundresearch.fidelity.com/mutual-funds/summary/315910505">Fund: FWWFX --- Fidelity® Worldwide Fund </a></h2>


<body>

<p>A world large stock seeks the growth of capital  </p>


<h3><b>Benchmark: </b> MSCI_world --- MSCI World (Net MA) </h3>
<p>A market capitalization weighted index that is designed to mearsure the investable equity market performance for global investors of developed markets.      </p>

<h3><b>Indices:   </b> </h3>
<h4>
NASDAQ --- NASDAQ Composite <br> 
SP_500 --- S&P 500    <br>
CWI --- SPDR MSCI ACWI ex-US ETF    <br>
DJI --- Dow Jones Industrial Average     <br>
DOV --- Dover Corporation     <br>
NYA --- NYSE COMPOSITE     <br>
XAX --- NYSE AMEX COMPOSITE INDEX     <br>
ROP --- Roper Technologies, Inc.   </h4>

</body>
</html>
